.black-text{
    color: #333;
}
.table-scroll div div:nth-of-type(2) {
    overflow: scroll;
    white-space: nowrap;
}

.table-border {
    border: 1px black;
}

div.dataTables_filter label{
    display: block;
    text-align: right;
    width: 100%;
}

.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
}

.dataTables_paginate ul{
    margin: 0;
}

.link_pointer a:hover{
    cursor: pointer;
}