{% extends "base.html" %}

{% block body %}
    <div class="container">
        <h2><br/></h2>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-7">
                                <h2>
                                    Projects
                                </h2>
                                <hr/>
                                {% comment No search functionality yet %}
                                <div class="form-group input-group custom-search-form">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                                {% endcomment %}
                            </div>
                            <div class="col-md-5">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        {{ object.user.username }}
                                    </div>
                                    <div class="panel-body black-text">
                                        <p><strong>Name: </strong>{{ object.name }}</p>
                                        <p><strong>Email: </strong>{{ object.email }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .panel-heading -->
                    <div class="panel-body">
                        {% if request.user == object.user %}
                                <h5>
                                    <a href="{% url "data_analysis:create_project" username=request.user.username %}">
                                        <i class="fa fa-plus-square-o"></i>  Start new project
                                    </a>
                                </h5>
                            <hr>
                        {% endif %}
                        {% for project in object.project_set.all %}
                                <h5>
                                    <a href="{{ project.link }}">
                                        <i class="fa fa-folder-o"></i>  {{ project.name }}
                                    </a>
                                </h5>
                            {% if not forloop.last %}
                                <hr>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!-- .panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
{% endblock %}