{% extends "base.html" %}
{% load widget_tweaks %}

{% block body %}
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{ panel_title }}
                        </h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="post">
                            {% csrf_token %}
                            <fieldset>
                                {% for field in form %}
                                    <div class="form-group">
                                        {% if forloop.first %}
                                            {% render_field field class+="form-control" placeholder=field.label autofocus="" data-toggle="tooltip" data-placement="right" data-original-title=field.help_text %}
                                        {% else %}
                                            {% render_field field class+="form-control" placeholder=field.label data-toggle="tooltip" data-placement="right" data-original-title=field.help_text %}
                                        {% endif %}
                                        {% if field.errors %}
                                            <div class="alert alert-danger">{{ field.errors }}</div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                                <input type="submit" value="{{ submit_button_name }}" class="btn btn-lg btn-success btn-block"/>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
