{% extends "base.html" %}
{% load staticfiles %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h2 class="page-header"><a href="{% url "user_profile" username=object.profile.user.username %}">{{ object.profile.user.username }}</a> / <a href="{{ object.link }}">{{ object.name }}</a></h2>
            </div>
            <div class="col-md-2 pull-right">
                {% if request.user.profile %}
                    <a class="btn btn-outline btn-primary page-header" href="{{ project.project_fork_link }}"><i class="fa fa-code-fork"></i> Clone Project</a>
                {% endif %}
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3>Datasets</h3>
                    </div>
                    <!-- .panel-heading -->
                    <div class="panel-body">
                        {% if request.user == object.profile.user %}
                            <a class="btn btn-outline btn-primary" href="{{ project.dataset_upload_link }}"><i class="fa fa-upload"></i> Upload New Dataset</a>
                            <hr/>
                        {% endif %}
                        <div class="panel-group" id="accordion">
                            {% for dataset in object.dataset_set.all %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#{{ dataset.name }}"><i class="fa fa-table"></i> {{ dataset.name }}</a>
                                        </h4>
                                    </div>
                                    <div id="{{ dataset.name }}" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="col-md-3">
                                                <p>
                                                    <a class="btn btn-outline btn-primary btn-block" href="{{ dataset.link }}">Create Query</a>
                                                </p>
                                                <hr/>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <div class="table-scroll">
                                                        <table class="table table-striped table-bordered compact" id="dataset_{{ dataset.name }}">
                                                            <thead>
                                                                <tr>
                                                                    {% for column in dataset.column_list %}
                                                                        <th>{{ column }}</th>
                                                                    {% endfor %}
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- .panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
{% endblock %}



{% block scripts %}

    <!-- DataTables JavaScript -->
    <script src="{% static "bower_components/datatables/media/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js" %}"></script>
    <script type="application/javascript">

        var initLoad = function(table, url) {
            table.dataTable({
                ajax: url,
                responsive: true
            });
        };

        $('document').ready(function() {
            {% for dataset in project.dataset_set.all %}
                initLoad($("#dataset_" + "{{ dataset.name }}"), "{{ dataset.api_link }}");
            {% endfor %}
        });
    </script>

{% endblock %}