{% extends "base.html" %}

{% block body %}
    <div class="row page-header">
        <div class="col-md-4 col-md-offset-7">
            <div class="panel panel-info">
                <div class="panel-heading">
                    {{ object.user.username }}
                </div>
                <div class="panel-body">
                    <p><strong>Name: </strong>{{ object.name }}</p>
                    <p><strong>Email:</strong>{{ object.email }}</p>
                </div>
            </div>
        </div>
    </div>

 <!-- /.row -->
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3>
                        Projects
                    </h3>
                    <hr>
                    <div class="form-group input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                </div>
                <!-- .panel-heading -->
                <div class="panel-body">
                    {% if request.user == object.user %}
                        <p>
                            <h5>
                                <a href="{% url "data_analysis:create_project" username=request.user.username %}">
                                    <i class="fa fa-plus-square-o"></i>  Start new project
                                </a>
                            </h5>
                        </p>
                        <hr>
                    {% endif %}
                    {% for project in object.project_set.all %}
                        <p>
                            <h5>
                                <a href="{{ project.link }}">
                                    <i class="fa fa-folder-o"></i>  {{ project.name }}
                                </a>
                            </h5>
                        </p>
                        {% if not forloop.last %}
                            <hr>
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- .panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
{% endblock %}



<div class="panel panel-primary">
                <div class="panel-heading">
                    Projects
                </div>
                <!-- .panel-heading -->
                <div class="panel-body">
                    <div class="panel-group" id="accordion">
                        {% for project in object.project_set.all %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#{{ project.name }}">{{ project.name }}</a>
                                    </h4>
                                </div>
                                <div id="{{ project.name }}" class="panel-collapse collapse{% if forloop.first %} in{% endif %}">
                                    <div class="panel-body">
                                        {% for dataset in project.dataset_set.all %}
                                            <div class="col-md-5 col-md-offset-1">
                                                <p>
                                                    <a class="btn btn-outline btn-primary btn-block" href="{{ dataset.link }}">{{ dataset.name }}</a>
                                                </p>
                                            </div>
                                        {% endfor %}
                                        <div class="col-md-5 col-md-offset-1"></div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- .panel-body -->
            </div>